<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Latest compiled JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" href="css/styles.css">

  <title>DentalGO</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row top_row">
      <img src="./assets/icon_ubi.png" alt="ubi" class="icon_top" id="icon_ubi">
      <p class="top_ubi">
        Fraccionamiento satelite, calle cancer
      </p>
      <img src="./assets/icon_email.png" alt="mail" class="icon_top">
      <a href="mailto:luis.aga215@gmail.com? subject=subject text" class="top_mail">luis.aga215@gmail.com</a>
      <div class="icons_fb">
        <a href="https://www.facebook.com/dental.go.consultorio/" title="Facebook" target="_blank" class="icon_top" id="icon_fb"><img src="./assets/icon_fb.png" alt="fb" width="100%" height="100%"></a>
        <a href="https://www.facebook.com/dental.go.consultorio/" title="Facebook" target="_blank" class="icon_top" id="icon_fb2"><img src="./assets/icon_fb2.png" alt="fb" width="100%" height="100%"></a>
      </div>
    </div>
  </div>
</body>

</html>